# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Ansible cruft
*.retry

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Ignore database file in repo
src/daily.db

# Sass dependency directories and generated CSS
src/styles/bourbon
src/styles/base
src/styles/neat
src/public/
