<!DOCTYPE html>
<html lang="en">
<head>
	<title>Derek Said It Would Be Like This...</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
</head>
<body>
	<h1>Derek Said It Would Be Like This...{{#if title}} {{title}}{{/if}}</h1>
	{{{body}}}
</body>
</html>
